body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;

}

.heading {
  text-align: center;
  color: #ff0000;

  margin-top: 20px;
}

.search-container {
  text-align: center;
  margin-top: 20px;

}

.search-container input[type="text"] {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;

  margin-right: 1px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.search-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
}

.video-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 10px; 
}

#videoWrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

#videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#videoTitle{
  text-align: center;
  margin-top: 20px;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.result-item {
  width: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  cursor: pointer;
}

.result-item img {
  width: 100%;
  border-radius: 5px;
}

.result-item p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.description-container {
  margin: 0 auto;
  max-width: 800px; 
  padding: 10px;
}

#descriptionContainer {
  display: none;
  background-color: #fff;

  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  overflow-wrap: break-word;
}

#toggleDescriptionButton {
  display: block;
  margin: 20px auto;
  color: red;
  
  background-color: transparent;
 
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
}


#commentContainer{
  display: none;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 800px; 
  padding: 10px;
  background-color: #fff;

  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  overflow-wrap: break-word;
}


#toggleCommentButton {
    display: block;
    margin: 20px auto;
    background-color: transparent;
    color: red; 
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}


#toggleDarkModeButton {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: filter 0.3s;
  border-radius: 50%; 
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#toggleDarkModeButton:hover {
  filter: brightness(1.2);
}

.cdButtons {
  display: flex;
}

.cdButtons button {
  margin-right: 10px; 
}


.dark-mode {
  background-color: #222;

  color: #fff;

}

.dark-mode .heading {
  color: #ff0000;

}

.dark-mode .search-container input[type="text"] {
  background-color: #444;

  color: white;

  border-color: #666;

}

.dark-mode .search-container button {
  background-color: #ff0000;}

.dark-mode .result-item {
  background-color: #444;

  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);

}


.dark-mode #toggleDarkModeButton {
  color: white;


}

.dark-mode #descriptionContainer {
  background-color: #444;
  color: white;

}

.dark-mode #commentContainer{
  background-color: #444;
  color: white;
}
